Django>=1.8.14,<1.9
MySQL-python==1.2.5
Pillow==2.9.0
django-ckeditor==5.0.2
django-autoslug==1.8.0
django-modeltranslation==0.10.1
git+https://github.com/flaiming/plata.git@invoice-style
django-bootstrap3==6.2.2
django-nginx-image==0.3.2
django-admin-sortable==2.0.19
