{%load i18n%}
								</table>
							</td>
						</tr>
                        <tr>
                            <td>
                                <div class="logo-footer">
                                    <a href="{{domain}}"><img src="{{domain}}/static/img/email_footer.jpg" ></a>
                                </div>
                            </td>
                        </tr>
                    </table>
					<div class="footer">
						<table width="100%">
							<tr>
                                <td class="aligncenter content-block"><a href="{{domain}}">Kalendář Draci.info</a></td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</body>

</html>

