{%load i18n%}
								</table>
							</td>
						</tr>
                        <tr>
                            <td>
                                <div class="logo-footer">
                                    <a href="http://kalendar.draci.info"><img src="/static/img/logo_footer.gif" ></a>
                                </div>
                            </td>
                        </tr>
                    </table>
					<div class="footer">
						<table width="100%">
							<tr>
								<td class="aligncenter content-block"><a href="http://kalendar.draci.info">Kalendář Draci.info</a></td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</body>

</html>

