{%extends "calendareshop/base.html"%}
{%load i18n%}

{%block title%}{%trans "Contact"%}{%endblock%}

{%block navbar_class%}bg-black{%endblock%}

{%block main_content%}
<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{%trans "Contact"%}</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                TODO
            </div>
        </div>
    </div>
</section>
{%endblock%}
