{%extends "calendareshop/base.html"%}
{%load i18n bootstrap3 shopping_tags%}

{%block main_content%}

    <!-- Header -->
    <header style="background-image: url('{{MEDIA_URL}}{{project.background_image}}'); background-position: top center;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{%trans "Step into new<br /> year with dragon strength!"%}</div>
                <div class="intro-lead-in">{%trans "Buy calendar Draci.info"%} {{project.name}}</div>
                <a href="#buy" class="page-scroll btn btn-xl">{%trans "Claim yours now!" as subtitle%}{{subtitle|upper}}</a>
            </div>
        </div>
    </header>


    {%if is_current_project%}
    <section class="top-section bg-white">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "About Draci.info calendar"%}</h2>
                </div>
            </div>
            <div class="row text-center" id="about">
                <div class="col-md-12">
                    {{project.text|safe}}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light-gray" id="buy">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Order your calendar"%}</h2>

                    <!--<div class="well">
                        Předobjednávky přijímáme do 23.10., poté bude k dispozici omezené množství ze zásob. 
                        Kalendáře budou zhotoveny a rozeslány ve druhé polovině listopadu. 
                    </div>-->
                </div>
            </div>
            <div class="row text-center product-list">
                {% for product in products %}
                <div class="col-md-4">
                    <img src="{{MEDIA_URL}}{{product.image}}" />
                    <div class="product-title">{{ product }}</div>

                    <form method="post" action="{%url "plata_product_detail" object_id=product.id%}">
                        {% csrf_token %}
                        <div class="prices clearfix">
                            <strong>{% get_price product %}</strong>
                            <span class="quantity-counter">
                                <img src="{{STATIC_URL}}img/button_minus.gif" alt="-" class="btn-quantity" data-op="sub"/>
                                <input id="id_quantity" max="100" min="1" name="quantity" value="1">
                                <img src="{{STATIC_URL}}img/button_plus.gif" alt="+" class="btn-quantity" data-op="add" />
                            </span>
                        </div>
                        <input type="submit" value="{% trans "Add to cart" %}" class="btn btn-primary"/ >
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-darkest-gray">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Calendar history"%}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{STATIC_URL}}img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{STATIC_URL}}img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{STATIC_URL}}img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{STATIC_URL}}img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                Draci.info 2016
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {%endif%}

    <!-- Team Section -->
    <section class="bg-white">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Authors"%}</h2>
                </div>
            </div>
            <div class="row">

                {%for author in project.authors.all%}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{MEDIA_URL}}{{author.image}}" class="img-responsive img-circle" alt="">
                        <h4>{{author.name}}</h4>
                        <p class="text-muted">{{author.role.name}}</p>
                        <ul class="list-inline social-buttons">
                            {%if author.link_da%}
                            <li>
                                <a href="{{author.link_da}}" target="_blank" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                            </li>
                            {%endif%}
                            {%if author.link_fb%}
                            <li>
                                <a href="{{author.link_fb}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            {%endif%}
                            {%if author.link_web%}
                            <li>
                                <a href="{{author.link_web}}" target="_blank" title="Personal website"><i class="fa fa-globe"></i></a>
                            </li>
                            {%endif%}
                            {%if author.email%}
                            <li>
                                <a href="mailto:{{author.email}}" target="_blank" title="E-mail"><i class="fa fa-envelope"></i></a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </section>

{%endblock%}
