{%extends "calendareshop/base.html"%}
{%load i18n bootstrap3 shopping_tags%}

{% block title %}{{project.name}} - {{ block.super }}{% endblock %}

{%block additional_js%}
<!-- Add fancyBox -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".fancybox").fancybox({
        padding: 0,
        loop: false
    });
});
</script>
{%endblock%}

{%block additional_css%}
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<style>
.fancybox-nav span {
    visibility: visible;
}
.fancybox-next span {
    right: -40px;
    background-position: 0 -71px;
}
.fancybox-prev span {
    left: -40px;
    background-position: 0 -35px;
}
.fancybox-close {
    top: -3px;
    right: -40px;
}
.fancybox-close {
    height: 35px;
}
.fancybox-title-float-wrap .child {
    background: none;
}
</style>
{%endblock%}

{%block main_content%}

    <!-- Header -->
    <header style="background-image: url('{{MEDIA_URL}}{{project.background_image}}'); background-position: top center;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{%trans "Step into new<br /> year with dragon strength!"%}</div>
                <div class="intro-lead-in">{%if is_current_project%}{%trans "Buy calendar Draci.info"%} {{project.name}}{%endif%}</div>
                <a href="#{%if is_current_project%}buy{%else%}preview{%endif%}" class="page-scroll btn btn-xl">{%spaceless%}
                    {%if is_current_project%}
                        {%if is_preorder%}
                            {%trans "Pre-order your calendar" as subtitle%}
                        {%else%}
                            {%trans "Claim yours now!" as subtitle%}
                        {%endif%}
                    {%else%}
                        {%trans "Look inside" as subtitle%}
                    {%endif%}
                    {{subtitle|upper}}
                {%endspaceless%}</a>
            </div>
        </div>
    </header>


    <section class="top-section bg-white">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{project.text_header}}</h2>
                </div>
            </div>
            <div class="row text-center" id="about">
                <div class="col-md-12">
                    {{project.text|safe}}
                </div>
            </div>
        </div>
    </section>

    {%if is_current_project%}
    <section class="bg-light-gray" id="buy">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        {%if is_preorder%}
                            {%trans "Pre-order your calendar"%}
                        {%else%}
                            {%trans "Order your calendar"%}
                        {%endif%}
                    </h2>

                    {%if is_preorder%}
                        <div class="well">
                            {%blocktrans%}
We accept pre-orders untill 24th October.
After that there will be only limited stock available. 
Calendars will be finished and sent out at the end of November.
                            {%endblocktrans%}
                        </div>
                    {%endif%}
                </div>
            </div>
            <div class="row text-center product-list">
                {% for product in products %}
                <div class="col-md-4">
                    <img src="{{MEDIA_URL}}{{product.image}}" />
                    <div class="product-title">{{ product }}</div>

                    <form method="post" action="{%url "plata_product_detail" object_id=product.id%}">
                        {% csrf_token %}
                        <div class="prices clearfix">
                            <strong>{% get_price product %}</strong>
                            <span class="quantity-counter">
                                <img src="{{STATIC_URL}}img/button_minus.gif" alt="-" class="btn-quantity" data-op="sub"/>
                                <input id="id_quantity" max="100" min="1" name="quantity" value="1">
                                <img src="{{STATIC_URL}}img/button_plus.gif" alt="+" class="btn-quantity" data-op="add" />
                            </span>
                        </div>
                        <input type="submit" value="{% trans "Add to cart" %}" class="btn btn-primary"/ >
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {%endif%}

    <section class="bg-darkest-gray" id="preview">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Illustrations preview"%}</h2>
                    <p>
                    {%blocktrans%}If you don't want to buy pig in a poke, look at these previews below.{%endblocktrans%}
                    </p>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="previews">
                    {%for image in project.images.all%}
                        <div class="thumb">
                            <a href="{{MEDIA_URL}}{{image.image}}" class="fancybox" rel="previews" title="{{image.description}}">
                                <img src="{{MEDIA_URL}}{{image.image_preview}}" alt="{{image.description}}" />
                            </a>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section class="bg-white">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Authors"%}</h2>
                </div>
            </div>
            <div class="row">

                {%for author in project.authors.all%}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{MEDIA_URL}}{{author.image}}" class="img-responsive img-circle" alt="">
                        <h4>{{author.name}}</h4>
                        <p class="text-muted">{{author.role.name}}</p>
                        <ul class="list-inline social-buttons">
                            {%if author.link_fb%}
                            <li>
                                <a href="{{author.link_fb}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            {%endif%}
                            {%if author.link_da%}
                            <li>
                                <a href="{{author.link_da}}" target="_blank" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                            </li>
                            {%endif%}
                            {%if author.link_web%}
                            <li>
                                <a href="{{author.link_web}}" target="_blank" title="Personal website"><i class="fa fa-home"></i></a>
                            </li>
                            {%endif%}
                            {%if author.email%}
                            <li>
                                <a href="mailto:{{author.email}}" target="_blank" title="E-mail"><i class="fa fa-envelope"></i></a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </section>

    {%if project == first_project%}
    <section class="bg-light-gray">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Calendar history"%}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {%for history in histories%}
                            <li class="{%cycle '' 'timeline-inverted'%}">
                                <div class="timeline-image">
                                    <a href="{{MEDIA_URL}}{{history.image_preview}}" class="fancybox" rel="history" title="{{history.name}}">
                                        <img class="img-circle img-responsive" src="{{MEDIA_URL}}{{history.image}}" alt="" />
                                    </a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{history.name}}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{history.description|safe}}</p>
                                    </div>
                                </div>
                            </li>
                        {%endfor%}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Draci.info {{next_year}}
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {%endif%}

    {%if not is_current_project%}
    <section class="bg-light-gray">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{%trans "Buy calendar Draci.info"%}</h2>
                </div>
            </div>
            <div class="row text-center" id="about">
                <div class="col-md-12 text-center">
                    <a href="/" class="page-scroll btn btn-xl">{%trans "Claim yours now!" as subtitle%}{{subtitle|upper}}</a>
                </div>
            </div>
        </div>
    </section>
    {%endif%}

{%endblock%}
