{%extends "calendareshop/base.html"%}
{%load i18n shopping_tags%}

{%block title%}{%trans "Shipping & Payment"%} - {{block.super}}{%endblock%}

{%block navbar_class%}bg-black{%endblock%}

{%block main_content%}
<section id="static-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">{%trans "Shipping & Payment"%}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

<h3>{%trans "Czech Post"%}</h3>

<p>
{%blocktrans%}
Shipping expenses (including wrapping) are added to final order separately. 
Exact ammount is derived from number of goods in order and from country of recipient.
{%endblocktrans%}
</p>

<table class="table table-striped">
    <tr>
        <th>{%trans "Item count"%}</th>
        {%for region in shipping_prices.1%}
        <th>{{region.0}}</th>
        {%endfor%}
    </tr>
    {%for quantity, values in shipping_prices.items%}
        <tr>
            <td>
                {%if quantity == 1000%}
                    11+
                {%else%}
                    {{quantity}}
                {%endif%}
            </td>
            {%for val in values%}
                <td>
                    {% format_price val.1 currency %}
                </td>
            {%endfor%}
        </tr>
    {%endfor%}
</table>

<h3>{%trans "Personal delivery"%}</h3>

<p>
{%blocktrans%}
Personal delivery is always <strong>free</strong>.
Ordered package can be picked up at <strong>Prague Řepy or at Frenštát pod Radhoštem after confirmation with our sales person</strong>.
You will receive more information about precise location and pick-up times after finishing the order process (if you choose as delivery option "Personal delivery").
{%endblocktrans%}
</p>

<h2>{%trans "Payment"%}</h2>

<p>{%trans "These payment methods are allowed:"%}</p>

<ul>
    <li>
        <p>
        <strong>{%trans "Cash"%}</strong> - {%trans "used only with Personal delivery."%}
        </p>
    </li>
    <li>
        <p>
        <strong>{%trans "Bank transfer"%}</strong> - {%trans "for payment details see section <a href='/contact/'>Contact</a>."%}
        </p>
    </li>
    <li>
        <p>
            <strong>PayPal</strong> - {%trans "payment method mainly for customers outside Czech Republic."%}
        </p>
    </li>
</ul>

            </div>
        </div>
    </div>
</section>
{%endblock%}


