{%extends "calendareshop/base_static.html"%}

{%block static_title%}Hlasování{%endblock%}
{%block static_heading%}Hlasování{%endblock%}

{%block additional_js%}
<script src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}js/lightbox.min.js"></script>
<script>
$(document).ready(function(){

    var original_container = undefined;

    $('.draggable').draggable({
        revert: "invalid",
        helper: "original",
        cursor: "move",
        start( event, ui ) {
            console.log('start');
            original_container = ui.helper.parent();
            console.log(original_container)
            //ui.helper.css('width', '300px !important')
            //ui.helper.find('img').css('width', '300px !important')
            //ui.helper.removeClass('col-md-3');
        },
        //stop( event, ui ) {
        //    console.log('stop')
        //    //ui.helper.css('left', 'auto');
        //    //ui.helper.css('top', 'auto');
        //    //ui.helper.find('img').css('width', '100%')
        //    //ui.helper.addClass('col-md-3');

        //},
    });
    $('.droppable').droppable({
        accept: '.draggable',
        drop: function( event, ui ) {
            var dropped = ui.draggable;
            var dropped_on = $(this);
            var inputs = $('#inputs');
            if (dropped_on.hasClass('chosen')) {
                if (dropped_on.find('.draggable').length) {
                    console.log('swapping', original_container);
                    // swap two images
                    var image = dropped_on.find('.draggable')
                    inputs.find('input[data-image='+image.data('image')+']').remove();
                    if (original_container.hasClass('chosen')) {
                        // swapping two chosen images
                        var input = $('<input/>', {type: 'hidden', name: 'selection[]', value: image.data('image') + '-' + original_container.data('month')});
                        input.attr('data-image', image.data('image'));
                        inputs.append(input);
                    } else {
                        // swapping candidate and chosen image
                        image.removeClass('col-md-12').addClass('col-md-2')
                    }
                    image.appendTo(original_container);
                }
                // selecting image for calendar
                dropped.removeClass('col-md-2');
                dropped.addClass('col-md-12');
                inputs.find('input[data-image='+dropped.data('image')+']').remove();
                var input = $('<input/>', {type: 'hidden', name: 'selection[]', value: dropped.data('image') + '-' + dropped_on.data('month')});
                input.attr('data-image', dropped.data('image'));
                inputs.append(input);
            } else {
                // removing image from selection
                dropped.addClass('col-md-2');
                dropped.removeClass('col-md-12');
                inputs.find('input[data-image='+dropped.data('image')+']').remove();
            }
            dropped.css('left', 'auto');
            dropped.css('top', 'auto');
            //console.log(dropped.find('img').css('width'))
            $(dropped).detach().appendTo(dropped_on);
        },
    });

    $('#tabs-menu a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

});
</script>
{%endblock%}

{%block additional_css%}
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/lightbox.min.css">
<style>
.dragged img {
    width: 300px !important;
}
.draggable {
    z-index: 10;
    padding: 0;
    cursor: move;
    min-height: 225px;
}
.droppable {
    z-index: 5;
    min-height: 200px; 
}
.droppable.chosen {
    min-height: 444px; 
    background-color: #222; 
    padding: 15px 0;
}
#inputs .btn-primary {
    padding: 5px 20px;
}
#candidates .draggable {
    margin: 0 15px 15px 0;
}
.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* background-color: #151515;  */ /* for dark overlay on top of the image */
    background-color: transparent;
	opacity: 0;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    z-index: 11; 
}
.img-overlay a {
	position: absolute;
	top: 10px;
	right: 10px;
}

.draggable:hover .img-overlay {
	opacity: 0.8;
}
.draggable:hover .img-overlay i {
    color: white;
}
</style>
{%endblock%}

{%block content%}
    
    {%if voting_ended%}
            <div class="alert alert-danger">Hlasování bylo pro tento rok již ukončeno.</div>
    {%else%}

    <p>Prohlédni si všechny přihlášené obrázky a vyber z nich své favority. Vybírej uvážlivě takové obrázky, které se ti zdají pro náš kalendář nejreprezentativnější a nespoléhej se na to, že některý obrázek určitě dostane dostatek hlasů i bez tvého přičinění.
    </p>
    <p>Jednotlivé sekce hlasování jsou rozděleny do záložek. Dole vždy najdeš náhledy všech přihlášených obrázků, z kterých můžeš vybírat. Pokud si chceš prohlédnout obrázek ve větší velikosti, klikni na ikonu lupy po najetí na náhled. Vybrané obrázky přiřazuj ke konkrétním měsícům pomocí přetažení myší. Jakmile přiřadíš všechny obrázky, pečlivě si svůj výběr zkontroluj a dej uložit hlasování. 
    </p>
    <p><span style="color: red">Změna oproti loňsku:</span> Autoři mohou hlasovat i pro své obrázky, ale jen pro jeden, pokud jich mezi kandidáty mají více.
    </p>
    <p>Své hlasy prosím odešli <strong>nejpozději do půlnoci {{voting_end_month_day.1}}.{{voting_end_month_day.0}}.{{year}}</strong> nebo nebudou započítány.
    </p>
    <br />
        {%if errors%}
            {%for error in errors%}
                <div class="alert alert-danger">{{error}}</div>
            {%endfor%}
        {%elif voting_finished%}
            <div class="alert alert-success">Všechny hlasy odeslány, děkujeme :) Dokud probíhá hlasování, můžete svůj hlas ještě změnit.</div>
        {%endif%}
        <form method="post" action="" id="inputs">
            {%csrf_token%}
            <button type="submit" id="vtn-vote" class="btn btn-primary pull-right">Uložit hlasování</button>

            <ul class="nav nav-tabs" role="tablist" id="tabs-menu">
                {%for id, name in seasons%}
                    {%if id not in own_seasons%}
                    <li role="presentation" class="{%if active_season == id%}active{%endif%}">
                        <a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">{{name}}</a>
                    </li>
                    {%endif%}
                {%endfor%}
            </ul>

            <br />
            <div class="tab-content">
                {%for season, months in month_dict.items%}
                <div role="tabpanel" class="tab-pane {%if season == active_season%}active{%endif%}" id="{{season}}">
                    <div class="row">
                    {%for month_id, month in months.items%}
                    <div class="col-md-4">
                        <h2 class="panel-title">{{month}}</h2>
                        <div class="droppable chosen clearfix" data-month="{{month_id}}">
                            {%for selected_month, image in votes.items%}
                                {%if selected_month == month_id %}
                                    {%include 'voting/image.html' with cols=12 class=''%}
                                    <input type="hidden" name="selection[]" value="{{image.id}}-{{selected_month}}" data-image="{{image.id}}"/>
                                {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                    {%endfor%}
                    </div>
                    
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Kandidáti</h3>
                        </div>
                        <div class="panel-body droppable" id="candidates">
                            {%for image in voted_images%}
                                {%if image.season == season%}
                                    {%include 'voting/image.html' with cols=2 class=''%}
                                {%endif%}
                            {%endfor%}
                        </div>
                    </div>

                </div>
                {%endfor%}
            </div>
        </form>

    {%endif%}

{%endblock%}


