{%extends "calendareshop/shop.html"%}
{%load i18n%}

{%block shop%}
<div class="row">
    <div class="col-lg-12">

        <table class="table table-striped">
            <tr>
                <th>Produkt</th>
                <th>Aktivní</th>
                <th>Zaplaceno</th>
                <th>Nezaplaceno</th>
                <th>Celkem</th>
            </tr>
            {%for product in products%}
            <tr>
                <td>
                    {{product.product}}
                </td>
                <td>
                    {%if product.product.is_active%}
                        <img src="/static/admin/img/icon-yes.gif" alt="True">
                    {%else%}
                        <img src="/static/admin/img/icon-no.gif" alt="True">
                    {%endif%}
                </td>
                <td>
                    {{product.paid_count}}
                </td>
                <td>
                    {{product.not_paid_count}}
                </td>
                <td>
                    {{product.total}}
                </td>
            </tr>
            {%endfor%}
        </table>

    </div>
</div>
{%endblock%}

